.filtros{
    align-self: flex-start;
    flex-direction: column;
}
@media(max-width:600px){
.filtragem-pesquisa{
    flex-direction: column;
}
#input-pesquisa{
    width: 80vw;
}
.barra-de-pesquisa{
    grid-row: 2;
    grid-column: 1/4;
    width: 90vw;
    margin: 20px auto;
}
}