.filtragem-pesquisa{
    flex-direction: column;
}
.filtros{
    align-self: flex-start;
}
.barra-de-pesquisa{
    grid-row: 2;
    grid-column: 1/4;
    width: 90vw;
    margin: 20px auto;
}
#input-pesquisa{
    width: 80vw;
}