/* Cabeçalho da pagina */
.logo{
    width: 300px;
    max-width: 90vw;
    position: relative;
}
.cabecalho p{
    color: var(--Branco);
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}
.cabecalho{
    background-color: var(--Verde);
    padding: 30px 0;
    justify-content: center;
}
/* Seção de boas vindas ao administrador */
.boas-vindas{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    background-color: var(--Verde-escuro);
    padding: 10px;
    color: var(--Branco);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.logout{
    color: var(--Branco);
    text-decoration: none;
}
.add-prod,.add-categ,.add-adm{
    padding: 5px 10px;
    border: solid 2px var(--Branco);
    background-color: var(--Verde-escuro);
    color: var(--Branco);
}
.add-prod:hover,.add-categ:hover,.add-adm:hover,#mostar-categorias:hover{
    background-color: var(--Verde-claro);
    color: #ffff;
}
/* excluir categorias */
.controle-de-categorias{
    position: relative;
}
#mostrar-categorias{
    background-color: var(--Verde-escuro);
    border: solid 2px var(--Branco);
    color: var(--Branco);
}
#mostrar-categorias:hover{
    background-color: var(--Verde-claro);
    color: #ffff;
}
.vizualizar-categ{
    padding-top: 10px;
    height: 150px;
    overflow-y: scroll;
    display: none;
    position: absolute;
    top: 95%;
    left: 0;
    background-color: var(--Branco);
    width: 100%;
}
.op_categoria{
    font-weight: bolder;
    justify-content: space-between;
    padding: 5px 8px;
    width: 100%;
    text-align: left;
}
.op_categoria img{
    cursor: pointer;
    width: 20px;
}
/* Controles */
.controles{
    padding: 30px 0;
}
.barra-de-pesquisa{
    background-color: #ffff;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 20px;
    height: fit-content;
    border: solid 1.5px black;
}
#pesquisar{
    border: none;
}
.lupa{
    height: 30px;
}
#input-pesquisa{
    background: none;
    border: none;
    font-weight: bolder;
    outline: none;
}
.barra-separar-conteudo{
    width: 90VW;
    height: 1px;
    background-color: var(--Branco);
    margin: 30px auto;
}
/* Estilo dos produtos */

.produto{
    display: grid;
    align-items: center;
    grid-template-columns: 50px 200px 200px ;
    grid-template-rows: 20px 20px;
    gap: 10px;
    margin: 0 auto;
    padding: 15px;
    border: solid 1px black;
    border-left: none;
    border-right: none;
}
.foto-prod{
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center center;
    border-radius: 5px;
    grid-row: 1/3;
}
.nome{
    font-weight: bolder;
    font-size: 13px;
    text-transform: uppercase;
    grid-row: 1;
}
.categ{
    grid-row: 2;
}
.descri{
    font-size: smaller;
    font-weight: lighter;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
    grid-row: 2;
}
.valor{
    grid-row: 1;
}
.controles-produto{
    grid-row: 1/3;
    gap: 20px;
    justify-self: end;
}
#editar-produto,#excluir-produto{
    cursor: pointer;
    border-radius: 50%;
}
#editar-produto:enabled,#excluir-produto:enabled{
    border: none;
}
#editar-produto>img,#excluir-produto>img{
    width: 30px;
}
/* Formulários de criação dos produtos e categorias*/
#novo-produto,#nova-categoria,#novo-adm {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--Verde);
    padding: 20px 15px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.412);
    max-width: 90vw;
    color: var(--Branco);
    display: none;
}
#novo-produto h1{
    text-align: center;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
}
#novo-produto input,#novo-produto textarea
,#novo-produto select, #nova-categoria input{
    border-radius: 5px;
    border: solid 1px var(--Verde-escuro);
    background-color: var(--Branco);
    padding: 5px 10px;
}
#foto-novo-produto{
    width: 100%;
    background: none;
    margin: auto;

}
.add-prod-btn,.add-categ-btn,.edit-prod-btn{
    width: fit-content;
    padding: 10px 20px;
    color: #ffff;
    background-color: var(--Verde-escuro) !important;
    font-weight: bolder;
    text-transform: uppercase;
    border: solid 2px var(--Branco) !important;
    margin-top: 20px;
    align-self: center;
    transition: .3s;
}
.add-prod-btn:hover,.add-categ-btn:hover{
    color: var(--Verde-escuro);
    background-color: #ffff !important;
    border: solid 2px var(--Verde-escuro)!important;
}
#novo-produto span,#nova-categoria span{
    cursor: pointer;
    font-size: x-large;
}

/* Exclusão de produtos */

.excluir-produto{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background-color: var(--Verde-claro);
    color: var(--Branco);
    border-radius: 15px;
    padding: 10px 20px;
    max-width: 80vw;
    font-weight: bolder;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.534);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.616);
    border: solid 2px var(--Verde);
    display: none;
}
.excluir-produto>button{
    border: solid 2px var(--Verde-escuro);
    background-color: var(--Verde);
    padding: 10px 20px;
    color: var(--Branco);
    text-transform: uppercase;
    border-radius: 10px;
}
.excluir-prod-form,.excluir-categ-form{
    opacity: 0;
    position: fixed;
    z-index: -3;
}
#editar-produto-form{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--Verde);
    padding: 20px 15px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.412);
    max-width: 90vw;
    color: var(--Branco);
    display: none;
}
#editar-produto-form input , #editar-produto-form textarea
,#editar-produto-form select{
    border-radius: 5px;
    border: solid 1px var(--Verde-escuro);
    background-color: var(--Branco);
    padding: 5px 10px;
}
#editar-produto-form span{
    cursor: pointer;
}
#IdProdutoEdit{
    opacity: 0;
    position: fixed;
    z-index: -3;
}

/* Adicionar admin */

#novo-adm{
    width: 300px;
    max-width: 95vw;
}
#novo-adm input{
    border-radius: 10px;
    border: none;
    padding: 5px 0;
}