/* Confiurações do menu principal */

body{
    background-color: var(--Marrom-claro);
}
.menu-principal{
    background-color: var(--Verde);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.548);
    color: var(--Branco);
    padding: 30px 0;
}
#logo-nutrigraos{
    width: 300px;
    max-width: 70vw;
}
.nav-list{
    list-style: none;
    gap: 40px;
    font-size: 15pt;
}
.nav-link{
    transition: .5s;
}
.nav-link:hover{
    text-shadow: 0 0 3px #ffffff;
    transform: translateY(-3px);
}
.botao-abrir-menu{
    cursor: pointer;
    width: 50px;
    height: 40px;
}
.barra-do-menu{
    height: 4px;
    background-color: var(--Branco);
    transition: .5s;
}
.menu-aberto{
    transform: scale(1) !important;
}
.botao-ativado>div{
    background-color: var(--Verde-escuro) !important;
    transform-origin: left;
}
.botao-ativado>#barra1{
    transform: rotate(45deg)translateY(1px);
}
.botao-ativado>#barra2{
    transform: scaleX(0);
}
.botao-ativado>#barra3{
    transform: rotate(-45deg);
}
/* Confiurações de responsividade do menu */

@media(max-width:640px){
    .botao-abrir-menu{
        display: flex !important;
        z-index: 3;
    }
    .navbar{
        position: absolute;
        top: 0;
        right: 0;
        width: fit-content;
        max-width: 90vw;
        background-color: var(--Branco);
        box-shadow: 5px 5px 5px #00000070;
        height: fit-content;
        padding: 0;
        border-radius: 0 0 0 10px;
        transition: .5s;
        transform: scale(0);
        transform-origin: right top;
    }
    .nav-list{
        color: var(--Verde-escuro);
        flex-direction: column;
        align-items: flex-start !important;
        text-align: left;
        margin: 150px 100px 0 0 !important;
        width: 100%;
        gap: 0;
    }
    .nav-item{
        padding: 10px 10px;
        width: 100%;
        transition: .5s;
    }
    .nav-item:hover{
        background-color: var(--Cinza);
    }
    .nav-link:hover{
        transform: translate(0);
    }
}

/* Seção de filtragem de pesquisa */
.filtragem{
    justify-content: space-around;
    padding: 20px 0;
}
#ordenar,#categ{
    background-color: var(--Verde);
    color: #fff;
    padding: 5px 10px;
    font-weight: bolder;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}
.filtro-de-pesquisa>label{
    color: #fff;
    text-shadow: 0 0 5px black;
}
.select-button{
    background-color: var(--Verde-escuro);
    color: var(--Branco);
    width: fit-content;
    transform: rotate(90deg);
    text-align: center;
    height: 100%;
    font-weight: bolder;
    padding: 0 12px;
}
.barra-de-pesquisa{
    background-color: #ffff;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 20px;
    height: fit-content;
}
#pesquisar{
    border: none;
}
.lupa{
    height: 30px;
}
#input-pesquisa{
    background: none;
    border: none;
    font-weight: bolder;
    outline: none;
}

.barra-separar-conteudo{
    width: 90VW;
    height: 1px;
    background-color: var(--Branco);
    margin: 30px auto;
}

/* Estilização dos produtos */
.produtos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    place-content: center;
    align-items: center;
    justify-items: center;
    gap: 25px;
    padding: 20px;
    
}
.produto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: var(--Branco);
    width: fit-content;
    background-color: var(--Verde);
    border-radius: 20px;
    padding: 20px 15px;
    width: 250px;
    max-width: 90vw;
    height: 450px;
    font-weight: bolder;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.594);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.39);
}
.produto>.foto-produto{
    background-color: var(--Branco); 
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 20px;
    object-fit: contain;
    max-width: 90%;
}
.produto>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.nome-produto{
    /* font-size: x-large; */
    font-size: clamp(1.5rem, 2vw + 1rem, 3rem);
    font-weight: bolder;
    max-width: 100%;
}
.descri-produto{
    font-size: smaller;
    font-weight: lighter;
    max-height: 35px;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
}
.valor{
    font-size: 2.5rem;
    font-weight: bolder;
    position: relative;
}
.valor::after{
    content: "100g";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    font-size: small;
}
/* Rodapé da pagina */
.rodape{
    background-color: var(--Verde-claro);
    background-image: url(../images/background-rodape.jpg);
    background-position: bottom right;
    background-size: cover;
    padding: 20px 0;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2,40%);
    grid-template-rows: 70px 30px;
    align-items: center;
    place-content: center;
    row-gap: 100px;
}
.rodape>img{
    width: 200px;
}
.nav-footer{
    justify-self: end;
}
.saiba-mais{
    color: var(--Preto);
    text-decoration: none;
    font-weight: bolder;
    font-size: larger;
}
.nav-footer img{
    width: 30px;
    margin: 0 10px;
}
.nav-footer a{
    text-decoration: none;
}
.link-icon{
    width: 20px;
}