/* Confiurações do menu principal */

body{
    background-color: var(--Marrom-claro);
}
.menu-principal{
    background-color: var(--Verde);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.548);
    color: var(--Branco);
    padding: 30px 0;
    animation: Descer .5s ;
}
#logo-nutrigraos{
    width: 300px;
    max-width: 60vw;
}
.nav-list{
    list-style: none;
    gap: 40px;
    font-size: 15pt;
}
.nav-link{
    transition: .5s;
}
.nav-link:hover{
    text-shadow: 0 0 3px #ffffff;
    transform: translateY(-3px);
}
.botao-abrir-menu{
    cursor: pointer;
    width: 50px;
    height: 40px;
}
.barra-do-menu{
    height: 4px;
    background-color: var(--Branco);
    transition: .5s;
}
.menu-aberto{
    transform: scale(1) !important;
}
.botao-ativado>div{
    background-color: var(--Verde-escuro) !important;
    transform-origin: left;
}
.botao-ativado>#barra1{
    transform: rotate(45deg)translateY(1px);
}
.botao-ativado>#barra2{
    transform: scaleX(0);
}
.botao-ativado>#barra3{
    transform: rotate(-45deg);
}
/* Confiurações de responsividade do menu */

@media(max-width:640px){
    .botao-abrir-menu{
        display: flex !important;
        z-index: 3;
    }
    .navbar{
        position: absolute;
        top: 0;
        right: 0;
        width: fit-content;
        max-width: 90vw;
        background-color: var(--Branco);
        box-shadow: 5px 5px 5px #00000070;
        height: fit-content;
        padding: 0;
        border-radius: 0 0 0 10px;
        transition: .5s;
        transform: scale(0);
        transform-origin: right top;
    }
    .nav-list{
        color: var(--Verde-escuro);
        flex-direction: column;
        align-items: flex-start !important;
        text-align: left;
        margin: 150px 100px 0 0 !important;
        width: 100%;
        gap: 0;
    }
    .nav-item{
        padding: 10px 10px;
        width: 100%;
        transition: .5s;
    }
    .nav-item:hover{
        background-color: var(--Cinza);
    }
    .nav-link:hover{
        transform: translate(0);
    }
}

/* Seção de filtragem de pesquisa */
.filtragem-pesquisa{
    justify-content: space-between;
    padding: 20px 0;
    width: 90vw;
    margin: 0 auto;
    align-items: flex-end;
}
.filtro-de-pesquisa{
    animation: DeslizarParaDireita .5s;
}
#categ{
    background-color: var(--Verde);
    color: #fff;
    padding: 5px 10px;
    font-weight: bolder;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}
.filtro-de-pesquisa>label{
    color: #fff;
    text-shadow: 0 0 5px black;
}
.barra-de-pesquisa{
    background-color: #ffff;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 20px;
    height: fit-content;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.442);
    animation: DeslizarParaEsquerda .5s;
}
#pesquisar{
    border: none;
}
.lupa{
    height: 30px;
}
#input-pesquisa{
    background: none;
    border: none;
    font-weight: bolder;
    outline: none;
}

.barra-separar-conteudo{
    width: 90VW;
    height: 1px;
    background-color: var(--Branco);
    margin: 30px auto;
}

/* Estilização dos produtos */
.produtos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    place-content: center;
    align-items: center;
    justify-items: center;
    gap: 25px;
    padding: 20px;
    
}
.produto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: var(--Branco);
    background-color: var(--Verde);
    border-radius: 20px;
    padding: 20px 15px;
    width: 300px;
    max-width: 90vw;
    height: 450px;
    font-weight: bolder;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.594);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.39);
    transition: .5s;
    cursor: pointer;
    animation: Subir 1s;
}
.produto:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 10px var(--Verde-claro);
}
.produto>.foto-produto{
    background-color: #ffff; 
    width: 90%;
    height: 0;
    padding-top: 90%;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    border-radius: 20px;
    max-width: 90%;
}
.nome-produto{
    font-size: larger;
    font-weight: bolder;
    max-width: 100%;
}
.valor{
    font-size: 2.5rem;
    font-weight: bolder;
    position: relative;
}
.valor::after{
    content: "100g";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    font-size: small;
}

/* Informaçoes do produto / Adicionar ao carrinho */

.info-produto{
   animation: Fade 1s;
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   overflow-y: scroll;
   background-image: linear-gradient(60deg,var(--Verde-claro),var(--Verde),var(--Verde-escuro));
   z-index: 4;
   grid-auto-columns: auto;
   grid-auto-rows: auto;
   place-content: center;
   align-items: center;
   justify-items: center;
   text-align: center;
   color: var(--Branco);
   text-shadow: 0 0 3px black;
   padding: 0 10px;
}
.info-produto>h1{
    grid-row: 1;
    grid-column: 2;
    font-weight: bolder;
    text-transform: uppercase;
    
}
#close-info-window{
    width: 60px;
    height: 60px;
    display: grid;
    place-content: center;
    background-color: var(--Preto);
    color: var(--Branco);
    font-size: xx-large;
    text-transform: uppercase;
    border-radius: 0 0 0 20px;
    border: none;
    position: fixed;
    top: 0;
    right: 0;
}
#descri-produto-selecionado{
    grid-row: 2;
    grid-column: 2;
    font-weight: bolder;
    font-size: small;
    width: 90%;
    
}
#valor-produto-selecionado{
    grid-column: 2;
    grid-row: 3;
    position: relative;
    font-weight: bolder;
    font-size: 3rem;
}
#valor-produto-selecionado::before{
    content: "Valor 100g";
    text-wrap: nowrap;
    position: absolute;
    top: -40%;
    left: 50%;
    transform: translateX(-50%);
    font-size: medium;
}
#img-produto-selecionado{
    background-color: #ffff; 
    width:400px;
    height: 400px;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    border-radius: 20px;
    object-fit: contain;
    max-width: 90%;
    background-size: cover;
    background-position: center center;
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.343);
    grid-column: 1;
    grid-row: 1/5;
}
#addToCart{
    grid-column: 1;
    grid-row: 6;
    width: 100%;
    padding: 15px 0;
    color: var(--Branco);
    background-color: var(--Verde-escuro);
    border-radius: 10px;
    font-size: larger;
    font-weight: bolder;
    border: none;
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.343);
    transition: .5s;  
}
#addToCart:hover{
    color: var(--Verde-escuro);
    background-color: var(--Branco);
    transform: scale(1.01);
}
#peso-desejado{
    background-color: var(--Branco);
    border: none;
    outline: none;
    padding: 10px 0;
    width: 60px;
}
.sele-peso-label{
    grid-column: 2;
    grid-row: 4;
    font-size: larger;
    font-weight: bolder;
}
.peso{
    grid-column: 2;
    grid-row: 5;
    background: var(--Branco);
    padding: 0 10px;
    border-radius: 10px;
}
.gramas{
    color: var(--Preto);
    text-shadow: none;
    font-size: large;
}
/* Adaptação da tela info */
@media(max-width:750px){
    .info-produto{
        padding: 350px 0 30px 0;
        gap: 20px;
        background-image: linear-gradient(var(--Verde-claro),
        var(--Verde),var(--Verde-escuro));
        flex-direction: column;
        align-items: center;
        grid-auto-rows: none;
    }
    #img-produto-selecionado{
        grid-row: 1;
    }
    .info-produto>h1{
        grid-column: 1;
        grid-row: 2;
        font-size: 3rem;
    }
    #descri-produto-selecionado{
        grid-row: 3;
        grid-column: 1;
    }
    #valor-produto-selecionado{
        grid-row: 4;
        grid-column: 1;
    }
    .sele-peso-label{
        grid-row: 5;
        grid-column: 1;
    }
    .peso{
        grid-row: 6;
        grid-column: 1;
    }
    #addToCart{
        grid-row: 7;
        width: fit-content;
        padding: 15px 25px;
    }
}
@media(max-width:450px){
    #img-produto-selecionado{
        width: 85%;
        height: 0;
        padding-top: 85%;
    }
}
/* Rodapé da pagina */
.rodape{
    background-color: var(--Verde-claro);
    background-image: url(../images/background-rodape.jpg);
    background-position: bottom right;
    background-size: cover;
    padding: 20px 0;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2,40%);
    grid-template-rows: 70px 30px;
    align-items: center;
    place-content: center;
    row-gap: 100px;
}
.rodape>img{
    width: 200px;
}
.nav-footer{
    justify-self: end;
}
.saiba-mais{
    color: var(--Preto);
    text-decoration: none;
    font-weight: bolder;
    font-size: larger;
}
.nav-footer img{
    width: 30px;
    margin: 0 10px;
}
.nav-footer a{
    text-decoration: none;
}
.creditos{
    justify-self: end;
    grid-column: 2;
    grid-row: 2;
    width: fit-content;
}
.creditos a{
    font-weight: bolder;
}
.link-icon{
    width: 20px;
}

/* Carrinho de compras */

.carrinho-de-compras{
    position: fixed;
    right: 0;
    top: 0;
    width: 400px;
    max-width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: var(--Verde-escuro);
    color: var(--Branco);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.359);
    padding-top: 10px;
    overflow-y: scroll;
    z-index: 3;
}
.carrinho-vazio{
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-weight: bolder;
    border-top: solid 2px var(--Branco);
}
.subtotal{
    border-top: solid 1px var(--Branco);
    width: 100%;
    padding: 15px 10px;
}
.ST{
    font-size: large;
    margin-bottom:25px;
}
.mensagem-sub-total{
    font-size: smaller;
    color: var(--Verde-claro);
}
.mensagem-sub-total span{
    color: var(--Branco);
}
#cart-prods{
    width: 100%;
}
.produto-no-carrinho{
    width: 100%;
    padding: 10px;
    padding-left: 5px;
    border-top: solid 1px var(--Branco);
    background-color:var(--Verde);
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
}
.quant-cart{
    grid-row: 2;
}
.sub-total-cart{
    grid-row: 1/3;
    grid-column: 2;
    justify-self: end;
    align-self: center;
}
.produto-no-carrinho button{
    grid-column: 3;
    grid-row: 1/3;
    width: fit-content;
    background: none;
    border: none;
    font-size: xx-large;
    font-weight: bolder;
    color: var(--Branco);
    justify-self: end;
}
.produto-no-carrinho h1{
    font-size: x-large;
}
.adicionado{
    color: var(--Branco);
    background-color: var(--Verde-escuro);
    border-radius:0 0 10px 10px;
    border: solid 2px var(--Branco);
    border-top: none;
    font-size: xx-large;
    position: fixed;
    top: 0;
    left: 50vw;
    max-width: 98vw;
    padding: 10px 20px;
    transition: .5s;
    transform: scaleY(0)translateX(-50%);
    transform-origin: top;
    text-align: center;
}
.adicionado-ativo{
    transform: scaleY(1)translateX(-50%) !important;
}

/* Finalização da compra  */

#finalizar{
    padding: 10px 0;
    width: 100%;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bolder;
    background-color: var(--Verde);
    color: var(--Branco);
    border: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.282);
    transition: .5s;
}
#finalizar:hover{
    background-color: var(--Branco);
    color: var(--Verde);
}

/* Botão Abrir/Fechar carrinho */

#quant-itens-carrinho{
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    color: #fff;
    font-size: smaller;
    position: fixed;
    right: 75px;
    bottom: 70px;
    z-index: 2;
    display: grid;
    place-content: center;
}
#abrirCarrinho{
    overflow: hidden;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: solid 2px var(--Verde);
    box-shadow:  0 0 5px rgba(0, 0, 0, 0.353);
    position: fixed;
    right: 30px;
    bottom:30px;
}
#abrirCarrinho img{
    width: 100%;
    height: 100%;
}
#fecharCarrinho{
    color: var(--Branco);
    font-size: xx-large;
    background: none;
    border: none;
    font-weight: bolder;
    align-self: flex-start;
    margin-left: 10px;
}
.comfirmar-finalizacao{
    max-width: 90vw;
    position: fixed;
    top: 50vh;
    left: 50vw;
    text-align:center;
    transform: translate(-50%,-50%);
    align-items: center;
    flex-direction:column;
    background-color: var(--Verde);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.357);
    border: solid 2px var(--Branco);
    color: var(--Branco);
    padding: 10px 20px;
    border-radius:15px 20px;
    font-weight: bolder;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.559);
    display: none;
}
.comfirmar-finalizacao button{
    color: var(--Branco);
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: x-large;
    border-radius: 5px 15px;
    background-color: var(--Verde-escuro);
    border: solid 2px var(--Branco);
}
.comfirmar-finalizacao div{
    gap: 20px;
}